body {
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
}

.logo-container {
    flex: 1;
    background-color: orange;
    text-align: left;
    padding: 10px;
    border: 2px dashed black;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    background-color: orange;
    margin: 0;
    padding: 0;
    border: 2px dashed black;
}

nav ul li {
    padding: 10px;
}

.login-container {
    flex: 1;
    background-color: orange;
    text-align: right;
    padding: 10px;
    border: 2px dashed black;
}

.sezione1 {
    background-color: rgb(31, 97, 238);
    padding: 50px 0;
    text-align: center;
}

.sezione1rosa {
    background-color: rgb(219, 119, 203);
    width: 60%;
    height: 300px;
    margin: 30px auto;
    border: 2px dashed black;
}

.sezione-common {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
}

.internal-box {
    width: 50%;
    height: 300px;
    border: 2px dashed black;
    margin: 0;
}

.sezione2blu {
    background-color: rgb(20, 139, 254);
    width: 75%;
}

.sezione2rosa {
    background-color: pink;
}

.sezione3rosa {
    background-color: pink;
}

.sezione3blu {
    background-color: rgb(20, 139, 254);
    width: 75%;
}

.sezione4blu {
    background-color: rgb(20, 139, 254);
}

.sezione4rosa {
    background-color: pink;
}

.sezione3 {
    background-color: lightgray;
    padding: 20px 0;
    width: 100%;
}

.sezione5 {
    background-color: lightgray;
    padding: 20px 0;
    width: 100%;
}

.sezione5verde {
    background-color: green;
    width: 100%;
    height: 600px;
    border: 2px dashed black;
    margin: 0;
}

.sezione6 {
    background-color: #222;
    padding: 80px 0;
}

.sezione6blu {
    width: 24%;
    height: 300px;
    border: 2px dashed black;
    margin: 0;
}

.sezione6rossa {
    width: 40%;
    background-color: salmon;
}

.sezione6blu {
    background-color: teal;
    border: 1px dashed white;
}

.sezione7 {
    background-color: #222;
    padding: 20px 0;
}

.footer-blue {
    background-color: rgb(117, 239, 211);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.footer-item {
    background-color: pink;
    padding: 20px;
    text-align: center;
    width: 5%;
}

.debug {
    border: 2px dashed black;
    padding: 10px;
}

.separator-section {
    background-color: #222;
    padding: 10px 0;
}
.separator-line {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0;
}

